body {
  margin: 0;
  background: black;
  color: cyan;
  font-family: Arial;
  overflow: hidden;
  text-align: center;
}

#login {
  margin-top: 150px;
}

input {
  padding: 10px;
  margin: 5px;
  background: black;
  border: 1px solid cyan;
  color: cyan;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
  cursor: pointer;
}

.glow {
  text-shadow: 0 0 20px cyan;
}

#globe {
  width: 100%;
  height: 400px;
}
